<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="move.pdsi.facom.ufu.br.move">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.main_Activity"
            android:label="@string/title_activity_menu_lateral"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.addMeioDeTranporteParticularActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.addMeioDeTransportePublicoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.addMeioDeTransporteAlugadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.addMeioDeTransporteCompartilhadoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.readMeioDeTransporteActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.readEventoActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.addEventoViagemActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.activityCreditos"
            android:screenOrientation="portrait" />
        <activity
            android:name="move.pdsi.facom.ufu.br.activity.addEventoDespesaActivity"
            android:screenOrientation="portrait" />
        <activity android:name="move.pdsi.facom.ufu.br.activity.exibirRelatorioIndividualActivity" />
        <activity android:name="move.pdsi.facom.ufu.br.activity.exibirRelatorioGeralActivity" />
    </application>

</manifest>